html {
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 80px);
  margin: 40px;

  background-color: #eeeeee;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 650px;
}

.avatar {
  display: block;
  max-width: 50%;
  border-radius: 50%;
}

.hi {
  text-align: center;
  box-sizing: border-box;
}

.list {
  box-sizing: border-box;
}
