.h-screen.flex.flex-col.justify-evenly.items-center
    img.rounded-full.h-52.w-52(src="../images/myavatar.jpg", alt="avatar")
    h2.text-purple-600.text-3xl.text-center Hi, I'm Abhigyan
    a(class="hover:underline" href="web-projects/") See my web projects.
