div(class="h-full grid grid-rows-6 grid-cols-none ratio-4/3:grid-rows-none ratio-4/3:grid-cols-7")

    div(class="relative row-span-2 col-span-1 ratio-4/3:row-span-1 ratio-4/3:col-span-2 grid grid-rows-3 grid-cols-none ratio-4/3:grid-rows-none ratio-4/3:grid-cols-3")

        div(class="row-span-2 col-span-2 bg-tree bg-no-repeat bg-cover")

        div(class="absolute bg-white rounded-full w-36 h-36 sm:h-40 sm:w-40 md:w-42 md:h-42 xl:h-56 xl:w-56 ratio-max-5/8:w-48 ratio-max-5/8:h-48 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 ratio-4/3:top-1/4 ratio-4/3:left-1/2")

            img(class="rounded-full transform object-center scale-90" src="../images/myavatar_smaller.jpg" alt="avatar")

    div(class="row-span-4 col-span-1 ratio-4/3:row-span-1 ratio-4/3:col-span-5 flex flex-col justify-evenly items-center ratio-4/3:items-start")

        div(class="ratio-4/3:mt-20")
            h2(class="text-green-600 text-4xl text-center ratio-4/3:text-left") Hi, I'm Abhigyan

        div(class="mt-7 w-10/12 h-2/5 overflow-y-auto flex-grow")
            p(class="text-justify text-lg md:text-xl xl:text-2xl leading-normal sm:leading-relaxed select-none text-gray-600") <span class="font-extrabold">An aspiring full-stack web developer and UI designer from Patna, India.</span> Presently, I'm in the final year of my technical undergraduate course. I like novelty, change and challenges. The best feeling for me is to see my vision turn into reality.

        div(id="links" class="mt-4 w-10/12 flex-grow flex-shrink grid grid-cols-4 auto-rows-fr content-center")
            a.btn(href="https://drive.google.com/file/d/1KPhWTaaSNPQXpJI2lD8ombiXRhmZZ9o8/view?usp=sharing") Resume
            a.btn(href="web-projects/") Projects
            a.btn(href="#") Education
            a.btn(href="#") About&nbspMe

        div(id="socials" class="my-4 w-10/12 flex-grow flex-shrink grid grid-cols-5 auto-rows-fr content-center")
            a(href="https://github.com/abgnpr")
                img.logo-btn(src="../images/gh.svg" alt="Github Link")
            a(href="https://twitter.com/abgnpr")
                img.logo-btn(src="../images/tw.svg" alt="Twitter Link")
            a(href="https://www.instagram.com/abgnpr") 
                img.logo-btn(src="../images/ig.svg" alt="Instagram Link")
            a(href="https://www.linkedin.com/in/abgnpr")
                img.logo-btn(src="../images/li.svg" alt="LinkedIn Link")
            a(href="https://www.telegram.me/abgnpr")
                img.logo-btn(src="../images/tg.svg" alt="Telegram Link")